---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//= require Materialize/dist/sass/materialize.scss

// Variables
$spacing-unit:     30px;
$brand-color:      #5814bb;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins/retina",
  "mixins/tipsy",
  "mixins/mediaquery",
  "syntax-highlighting",
  "hospex-icons",
  "tooltip",
  "base",
  "header",
  "footer",
  "statistics",
  "couch",
  "page_home"
;
