---
layout: default
page_id: home
---
{% include header.html %}

<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center white-text">{{site.title}}</h1>
    <div class="row center">
      <h5 class="header col s12 white-text">{{site.description}}</h5>
    </div>
    <div class="row center">
      <a href="/search/" class="btn-large waves-effect waves-light purple-text text-lighten-5 deep-purple lighten-1">Browse for Cities, Countries or Hackers</a>
    </div>
    <div class="row center">
      <img src="/img/couch.png" alt="">
    </div>
    <div class="row center">
      <a href="/add/" class="btn-large waves-effect waves-light">Add your couch</a>
    </div>
    <br><br>
  </div>
</div>

{% include statistics.html %}
