<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          <li>
            <span class="socicon socicon-github">
            </span>
            <a href="https://github.com/captn3m0/hackercouch">
                <span class="username">source</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
