<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>{{ site.couches | size }} Hackers, {{site.couches|group_by:'country'|size}} Countries</li>
          <li><a href="/map.html">View cities on map</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          <li>
            <span class="socicon socicon-github">
            </span>
            <a href="https://github.com/hackercouch/hackercouch">
                <span class="username">source</span>
            </a>
          </li>
          <li>
            <a href="https://travis-ci.org/hackercouch/hackercouch" title="Build Status (Travis)">
                <img src="https://travis-ci.org/hackercouch/hackercouch.svg?branch=master">
            </a>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
