<nav class="purple" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <img src="/img/hackercouch.svg" alt="Hackercouch" width="50" height="50">
    </a>
    <a href="#" data-activates="hackercouch-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% include menu.html %}
    </ul>
    <ul class="side-nav" id="hackercouch-menu">
      {% include menu.html %}
    </ul>
  </div>
</nav>
