
.statistics {
  padding-top: 3rem;
  background: #fff;
}

.statistics-value {
  font-size: 2rem;
  display: block;
  clear: both;
}
.statistics-label {
  font-size: 1rem;
  display: block;
  clear: both;
}
