---
layout: default
---
<div class="post">

    {% assign name = page.name %}
    {% unless name %}
        {% assign name =  (page.relative_path|remove:"_couches/"|remove_first:".md") %}
    {% endunless %}

    <header class="post-header">
        <a href="{{page.email|to_gravatar:200}}"><img src="{{page.email|to_gravatar}}" alt="{{ name }}" class="post-avatar" /></a>
        <h1 class="post-title">{{ name }}</h1>
    </header>

    <article class="post-content">
        <div>
            <strong>Location:</strong>
            <span>
                {% assign country = page.country | upcase %}
                {% capture location %}{{% if page.region %}}<span>{{page.region}} </span>{{% endif %}}{{% if page.city %}}<span>{{page.city}} </span>{{% endif %}}<span>{{site.data.countries[country] | downcase | capitalize}}</span>{% endcapture %}
                <a href="https://nominatim.openstreetmap.org/search.php?q={{location|strip_html|strip|cgi_escape}}">{{location}}</a>
            </span>
        </div>

    <hr>

    {{ content }}

    </article>
    <div>
        <strong>Social</strong>
        <span>
            {% assign couch = page %}
            {% include social.html tooltip-direction="s" %}
        </span>
    </div>
</div>
