---
layout: default
---
<header class="purple">
  <div class="container">
    <div class="section no-pad-top">
      <div class="row">
        <div class="col s12">

          <nav class="z-depth-0" role="navigation">
            <div class="nav-wrapper purple">
              <a id="logo-container" href="/" class="brand-logo">
                <!--<img src="/img/hackercouch.svg" alt="Hackercouch" width="50" height="50">-->
                {{ site.title }}
              </a>
              <a href="#" data-activates="hackercouch-menu" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {% include menu.html %}
              </ul>
              <ul class="side-nav" id="hackercouch-menu">
                {% include menu.html %}
              </ul>
            </div>
          </nav>

          <em class="purple-text text-lighten-5">{{ site.description }}</em>

          <div class="row" id="filters">
              <!--
              <input id="list-search" type="search" placeholder="Search for city, country, hacker" class="purple-text text-lighten-5 deep-purple lighten-1">
              -->

              {% capture countrycodes %}{% for couch in site.couches %}|{{ couch.country | upcase }}{% endfor %}{% endcapture %}
              {% assign array = countrycodes | split: '|' %}
              {% assign countries = array[1] %}
              {% for item in array %}
                {% unless countries contains item %}
                  {% capture countries %}{{ countries }}|{{ item }}{% endcapture %}
                {% endunless %}
              {% endfor %}

            <div class="input-field col s12 m5">
              <select id="selector-country" class="purple-text text-lighten-5 deep-purple lighten-1 z-depth-1">
                <option value="" disabled selected>Choose a Country</option>
                {% assign countrylist = countries | split: '|' %}
                {% for country in countrylist  %}
                <option value="{{ country }}" data-countryname="{{site.data.countries[country] | downcase | capitalize}}">
                  {{ site.data.countries[country] | downcase | capitalize }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="input-field col s12 m4">
              <a href="#" class="waves-effect waves-light deep-purple lighten-1 btn" id="country-filter-close">Show everyone</a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</header>

<main class="container">
  <article class="section">
    {{ content }}
  </article>
</main>

{% include footer.html %}
